Repository samuelcolvin/watchfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-python, lint-rust, mypy

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: no-commit-to-branch # prevent direct commits to main branch
  - id: check-yaml
    args: ['--unsafe']
  - id: check-toml
  - id: end-of-file-fixer
  - id: trailing-whitespace
  - id: check-added-large-files

- repo: local
  hooks:
  - id: lint-python
    name: Lint Python
    entry: make lint-python
    types: [python]
    language: system
  - id: lint-rust
    name: Lint Rust
    entry: make lint-rust
    types: [rust]
    language: system
  - id: mypy
    name: Mypy
    entry: make mypy
    types: [python]
    language: system

ruff target version to 3.10
  pyproject.toml
  tests/conftest.py
  watchfiles/cli.py
  watchfiles/filters.py
  watchfiles/main.py
  watchfiles/run.py
Due: lint-python, mypy

fix .pre-commit
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: none

Ruff target version to 3.10 (#379)
  pyproject.toml
  tests/conftest.py
  watchfiles/cli.py
  watchfiles/filters.py
  watchfiles/main.py
  watchfiles/run.py
Due: lint-python, mypy

upgrade uv lock (#378)
  .pre-commit-config.yaml
  uv.lock
Due: none

prep v1.2.0 release (#371)
  Cargo.lock
  Cargo.toml
Due: none

Deploying to gh-pages from @ samuelcolvin/watchfiles@b6eb04ffaa99c3e656e448c75d137013ffa2ece3 🚀
  404.html
  api/filters/index.html
  api/run_process/index.html
  api/rust_backend/index.html
  api/watch/index.html
  assets/_mkdocstrings.css
  assets/javascripts/bundle.79ae519e.min.js
  assets/javascripts/bundle.79ae519e.min.js.map
  assets/javascripts/bundle.88dd0f4e.min.js
  assets/javascripts/bundle.88dd0f4e.min.js.map
  assets/javascripts/workers/search.2c215733.min.js
  assets/javascripts/workers/search.2c215733.min.js.map
  assets/javascripts/workers/search.6ce7567c.min.js
  assets/javascripts/workers/search.6ce7567c.min.js.map
  assets/stylesheets/main.484c7ddc.min.css
  assets/stylesheets/main.484c7ddc.min.css.map
  assets/stylesheets/main.6f8fc17f.min.css
  assets/stylesheets/main.6f8fc17f.min.css.map
  assets/stylesheets/palette.06af60db.min.css
  assets/stylesheets/palette.06af60db.min.css.map
  assets/stylesheets/palette.ab4e12ef.min.css
  assets/stylesheets/palette.ab4e12ef.min.css.map
  cli/index.html
  index.html
  migrating/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

Fix case-only rename on macOS APFS misclassified as two added events
  src/lib.rs
  tests/test_files/case_rename.txt
  tests/test_rust_notify.py
Due: lint-python, lint-rust, mypy

remove 3.13t
  .github/workflows/ci.yml
Due: none

Propagate sigint_timeout/sigkill_timeout to the final process.stop() on exit
  tests/test_run_process.py
  watchfiles/run.py
Due: lint-python, mypy

Fix test compatibility with pytest >= 9.1
  tests/test_docs.py
Due: lint-python, mypy

docs: clarify step argument wording in watch() docstring
  watchfiles/_rust_notify.pyi
  watchfiles/main.py
Due: lint-python, mypy

Detect same-second file edits when polling.
  src/lib.rs
  tests/test_rust_notify.py
Due: lint-python, lint-rust, mypy

Fix ignore path boundary matching
  tests/test_filters.py
  watchfiles/filters.py
Due: lint-python, mypy

Cap the watch step sleep by remaining debounce time.
  src/lib.rs
Due: lint-rust

Keep the debounce sleep chain on one line.
  src/lib.rs
Due: lint-rust

ci: add Python 3.14t to Windows wheel builds
  .github/workflows/ci.yml
Due: none

feat: expose symlink following configuration
  src/lib.rs
  tests/test_force_polling.py
  tests/test_rust_notify.py
  tests/test_watch.py
  watchfiles/_rust_notify.pyi
  watchfiles/main.py
  watchfiles/run.py
Due: lint-python, lint-rust, mypy

Add Python 3.14t to Windows wheel builds (#393)
  .github/workflows/ci.yml
Due: none

Build abi3 wheels for CPython
  .github/workflows/ci.yml
  Cargo.toml
Due: none

Build abi3 wheels for CPython (#396)
  .github/workflows/ci.yml
  Cargo.toml
Due: none

prep v1.3.0 release
  Cargo.lock
  Cargo.toml
Due: none

prep v1.3.0 release (#397)
  Cargo.lock
  Cargo.toml
Due: none

Deploying to gh-pages from @ samuelcolvin/watchfiles@e74b8fc7d8d9e35c3b6bb88af0aef5ea82ee815e 🚀
  index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

Fix test compatibility with pytest >= 9.1 (#384)
  tests/test_docs.py
Due: lint-python, mypy

Switch from pre-commit to prek
  .github/workflows/ci.yml
  Makefile
Due: none

Switch from pre-commit to prek (#399)
  .github/workflows/ci.yml
  Makefile
Due: none

Bump all dependencies
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.toml
  uv.lock
Due: none

Adopt ruff 0.16 defaults with the super-mark-it config
  pyproject.toml
  tests/test_docs.py
  tests/test_watch.py
  watchfiles/__init__.py
  watchfiles/_rust_notify.pyi
  watchfiles/filters.py
  watchfiles/main.py
  watchfiles/run.py
Due: lint-python, mypy

Raise MSRV to 1.85 and pin ruff's rule set
  .github/workflows/ci.yml
  Cargo.toml
  pyproject.toml
Due: none

Run zizmor and harden the workflows
  .github/workflows/ci.yml
  .github/workflows/upload-previews.yml
  .github/zizmor.yml
  .pre-commit-config.yaml
Due: none

Bump all dependencies (#398)
  .github/workflows/ci.yml
  .github/workflows/upload-previews.yml
  .github/zizmor.yml
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.toml
  pyproject.toml
  tests/test_docs.py
  tests/test_watch.py
  uv.lock
  watchfiles/__init__.py
  watchfiles/_rust_notify.pyi
  watchfiles/filters.py
  watchfiles/main.py
  watchfiles/run.py
Due: lint-python, mypy

docs: clarify step argument wording in watch() docstring (#385)
  watchfiles/_rust_notify.pyi
  watchfiles/main.py
Due: lint-python, mypy

Remove .cargo/config.toml
  .cargo/config.toml
  Cargo.toml
Due: none

Remove .cargo/config.toml (#400)
  .cargo/config.toml
  Cargo.toml
Due: none

fix: accept poll-only stop events in awatch (#357)
  tests/test_watch.py
  watchfiles/main.py
Due: lint-python, mypy

feat: yield once when watcher starts (#358)
  tests/test_watch.py
  watchfiles/main.py
Due: lint-python, mypy

fix: use CTRL_C_EVENT for graceful Windows shutdown
  tests/test_run_process.py
  watchfiles/run.py
Due: lint-python, mypy
