Repository samuelcolvin/watchfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-python, lint-rust, mypy

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: no-commit-to-branch # prevent direct commits to main branch
  - id: check-yaml
    args: ['--unsafe']
  - id: check-toml
  - id: end-of-file-fixer
  - id: trailing-whitespace
  - id: check-added-large-files

- repo: local
  hooks:
  - id: lint-python
    name: Lint Python
    entry: make lint-python
    types: [python]
    language: system
  - id: lint-rust
    name: Lint Rust
    entry: make lint-rust
    types: [rust]
    language: system
  - id: mypy
    name: Mypy
    entry: make mypy
    types: [python]
    language: system

debug=None and debug print on error
  src/lib.rs
  watchfiles/run.py
Due: lint-python, lint-rust, mypy

return "file deleted" instead of raising an exception (#301)
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  src/lib.rs
  tests/test_rust_notify.py
  watchfiles/main.py
  watchfiles/run.py
Due: lint-python, lint-rust, mypy

Deploying to gh-pages from @ samuelcolvin/watchfiles@6e3c2c8f31d3911ec375ee9de035b1cd1832f887 🚀
  api/run_process/index.html
  api/watch/index.html
  index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

allow modify `poll_delay_ms` argument using an environment variable
  watchfiles/main.py
Due: lint-python, mypy

add test for environment variable `WATCHFILES_POLL_DELAY_MS`
  tests/test_force_polling.py
Due: lint-python, mypy

Bump PyO3 to 0.23, drop Python 3.8 support
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  pyproject.toml
  src/lib.rs
Due: lint-rust

Bump PyO3 to 0.23, drop Python 3.8 support (#307)
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  pyproject.toml
  src/lib.rs
Due: lint-rust

Apply suggestions from code review
  watchfiles/main.py
Due: lint-python, mypy

allow modify `poll_delay_ms` argument using an environment variable (#303)
  tests/test_force_polling.py
  watchfiles/main.py
Due: lint-python, mypy

remove set_version, prepare for v1 release
  .github/set_version.py
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
Due: lint-python, mypy

remove set_version, prepare for v1 release (#309)
  .github/set_version.py
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
Due: lint-python, mypy

fix version check and release in CI
  .github/workflows/ci.yml
Due: none

fix version check and release in CI (#310)
  .github/workflows/ci.yml
Due: none

uprev JamesIves/github-pages-deploy-action
  .github/workflows/ci.yml
Due: none

Update documentation
  .nojekyll
  api/watch/index.html
  index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

Fix data loss issue by ensuring proper locking and clearing of changes
  src/lib.rs
Due: lint-rust

bump to PyO3 0.23.3
  Cargo.lock
Due: none

uprev to v1.0.1
  Cargo.lock
  Cargo.toml
Due: none

uprev pypa/gh-action-pypi-publish in ci
  .github/workflows/ci.yml
Due: none

uprev to v1.0.2
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  uv.lock
Due: none

try to fix github-pages-deploy-action
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
Due: none

Deploying to gh-pages from @ samuelcolvin/watchfiles@946a29616ef555b313249b51038ff1b51e2e97ec 🚀
  index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

Fix badge for CI
  README.md
Due: none

Here also
  docs/index.md
Due: none

Update notify from a 6.1.1 fork to 7.0.0
  Cargo.toml
Due: none

Update Cargo.lock for notify 7.0.0
  Cargo.lock
Due: none

Fix badge for CI (#323)
  README.md
  docs/index.md
Due: none

Fix data loss issue by ensuring proper locking and clearing of changes (#314)
  src/lib.rs
Due: lint-rust

switch to uv
  .github/workflows/ci.yml
  .gitignore
  Makefile
  docs/.hooks/main.py
  mkdocs.yml
  pyproject.toml
  requirements/testing.in
  uv.lock
  watchfiles/main.py
  watchfiles/run.py
Due: lint-python, mypy

fix build, remove requirements
  Cargo.toml
  pyproject.toml
  requirements/all.txt
  requirements/docs.in
  requirements/docs.txt
  requirements/linting.in
  requirements/linting.txt
  requirements/pyproject.txt
  requirements/testing.in
  requirements/testing.txt
Due: none

fix test_awatch_interrupt_raise
  pyproject.toml
  tests/test_watch.py
  uv.lock
Due: lint-python, mypy

fix lint and docs ci
  .github/workflows/ci.yml
  Makefile
  pyproject.toml
  uv.lock
Due: none

Use notify 7.0.0 instead of a fork of 6.1.1 (#322)
  Cargo.lock
  Cargo.toml
Due: none

switch to uv (#324)
  .github/workflows/ci.yml
  .gitignore
  Cargo.toml
  Makefile
  docs/.hooks/main.py
  mkdocs.yml
  pyproject.toml
  requirements/all.txt
  requirements/docs.in
  requirements/docs.txt
  requirements/linting.in
  requirements/linting.txt
  requirements/pyproject.txt
  requirements/testing.in
  requirements/testing.txt
  tests/test_watch.py
  uv.lock
  watchfiles/main.py
  watchfiles/run.py
Due: lint-python, mypy

uprev to 1.0.4
  Cargo.lock
  Cargo.toml
  Makefile
  README.md
  docs/index.md
  uv.lock
Due: none

try testing with 3.13t
  .github/workflows/ci.yml
Due: none

uprev to 1.0.4 (#325)
  Cargo.lock
  Cargo.toml
  Makefile
  README.md
  docs/index.md
  uv.lock
Due: none
