Repository samuelcolvin/watchfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-python, lint-rust, mypy

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: no-commit-to-branch # prevent direct commits to main branch
  - id: check-yaml
    args: ['--unsafe']
  - id: check-toml
  - id: end-of-file-fixer
  - id: trailing-whitespace
  - id: check-added-large-files

- repo: local
  hooks:
  - id: lint-python
    name: Lint Python
    entry: make lint-python
    types: [python]
    language: system
  - id: lint-rust
    name: Lint Rust
    entry: make lint-rust
    types: [rust]
    language: system
  - id: mypy
    name: Mypy
    entry: make mypy
    types: [python]
    language: system

in other requirements file
  requirements/linting.txt
Due: none

pre-commit block main - related to `notify` update (#272)
  .pre-commit-config.yaml
Due: none

fix pre-commit on main
  .github/workflows/ci.yml
Due: none

uprev docs requirements
  mkdocs.yml
  requirements/docs.in
  requirements/docs.txt
  requirements/linting.txt
  requirements/pyproject.txt
  requirements/testing.txt
  watchfiles/run.py
Due: lint-python, mypy

constrain pytest
  requirements/testing.in
  requirements/testing.txt
Due: none

uprev linting, testing and docs requirements (#273)
  mkdocs.yml
  requirements/docs.in
  requirements/docs.txt
  requirements/linting.txt
  requirements/pyproject.txt
  requirements/testing.in
  requirements/testing.txt
  watchfiles/run.py
Due: lint-python, mypy

Test Python 3.13
  .github/workflows/ci.yml
Due: none

Add PYO3_USE_ABI3_FORWARD_COMPATIBILITY until PyO3 supports Python 3.13
  .github/workflows/ci.yml
Due: none

Deploying to gh-pages from @ samuelcolvin/watchfiles@94b678025648249387ab88ad0b143ef7f302fa5b 🚀
  404.html
  api/filters/index.html
  api/run_process/index.html
  api/rust_backend/index.html
  api/watch/index.html
  assets/_mkdocstrings.css
  assets/javascripts/bundle.2ab50757.min.js
  assets/javascripts/bundle.2ab50757.min.js.map
  assets/javascripts/bundle.a7c05c9e.min.js
  assets/javascripts/bundle.a7c05c9e.min.js.map
  assets/javascripts/lunr/min/lunr.ar.min.js
  assets/javascripts/lunr/min/lunr.el.min.js
  assets/javascripts/lunr/min/lunr.he.min.js
  assets/javascripts/lunr/min/lunr.hy.min.js
  assets/javascripts/lunr/min/lunr.kn.min.js
  assets/javascripts/lunr/min/lunr.ko.min.js
  assets/javascripts/lunr/min/lunr.sa.min.js
  assets/javascripts/lunr/min/lunr.ta.min.js
  assets/javascripts/lunr/min/lunr.te.min.js
  assets/javascripts/lunr/min/lunr.zh.min.js
  assets/javascripts/lunr/wordcut.js
  assets/javascripts/workers/search.b8dbb3d2.min.js
  assets/javascripts/workers/search.b8dbb3d2.min.js.map
  assets/javascripts/workers/search.ecf98df9.min.js
  assets/javascripts/workers/search.ecf98df9.min.js.map
  assets/stylesheets/main.66ac8b77.min.css
  assets/stylesheets/main.66ac8b77.min.css.map
  assets/stylesheets/main.6b80c2a2.min.css
  assets/stylesheets/main.6b80c2a2.min.css.map
  assets/stylesheets/palette.06af60db.min.css
  assets/stylesheets/palette.06af60db.min.css.map
  assets/stylesheets/palette.cbb835fc.min.css
  assets/stylesheets/palette.cbb835fc.min.css.map
  cli/index.html
  index.html
  migrating/index.html
  objects.inv
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

Fix typo in `watch` doctstring
  watchfiles/main.py
Due: lint-python, mypy

Add indentation to nested list
  watchfiles/main.py
Due: lint-python, mypy

Fix typo in `watch` doctstring (#280)
  watchfiles/main.py
Due: lint-python, mypy

Modify python mkdocstring handler option key
  mkdocs.yml
Due: none

Cargo.toml: Update PyO3 to 0.22.1
  Cargo.toml
Due: none

Bump up PyO3 to 0.22.1
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  src/lib.rs
Due: lint-rust

Config CI to allow pre-releases of Python
  .github/workflows/ci.yml
Due: none

Bump up PyO3 to 0.22.2
  Cargo.lock
  Cargo.toml
Due: none

Bump up PyO3 to 0.22.2 (#287)
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  src/lib.rs
Due: lint-rust

Add support for Python 3.13
  .github/workflows/ci.yml
  README.md
  pyproject.toml
Due: none

Update mkdocstring python handler option key (#281)
  mkdocs.yml
Due: none

Add support for Python 3.13 (#277)
  .github/workflows/ci.yml
  README.md
  pyproject.toml
Due: none

Full CI build by default
  .github/workflows/ci.yml
Due: none

fix tests
  tests/test_filters.py
Due: lint-python, mypy

fix windows build
  Cargo.lock
Due: none

remove watchfiles from ignore directory list (#249)
  tests/test_filters.py
  watchfiles/filters.py
Due: lint-python, mypy

fix windows build (#291)
  Cargo.lock
Due: none

Full CI build by default (#290)
  .github/workflows/ci.yml
Due: none

use intern in rust code
  src/lib.rs
  tests/test_rust_notify.py
Due: lint-python, lint-rust, mypy

use `intern!` in rust code (#292)
  src/lib.rs
  tests/test_rust_notify.py
Due: lint-python, lint-rust, mypy

drop PyPy 3.8
  .github/workflows/ci.yml
Due: none

Deploying to gh-pages from @ samuelcolvin/watchfiles@4d54a10d5c01414a508d4fb358156e87d7bd9167 🚀
  api/filters/index.html
  api/run_process/index.html
  api/rust_backend/index.html
  api/watch/index.html
  index.html
  objects.inv
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

drop PyPy 3.8 (#293)
  .github/workflows/ci.yml
Due: none

Update Python version in index.md
  docs/index.md
Due: none

Update docs/index.md
  docs/index.md
Due: none

Update Python version in index.md (#296)
  docs/index.md
Due: none

return "file deleted" instead of raising an exception
  Cargo.lock
  Cargo.toml
  src/lib.rs
Due: lint-rust

change error message
  Cargo.toml
  tests/test_rust_notify.py
Due: lint-python, mypy

change error message, take 2
  tests/test_rust_notify.py
  watchfiles/main.py
Due: lint-python, mypy

increase min rust version to 1.72
  .github/workflows/ci.yml
Due: none
