Repository samuelcolvin/watchfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-python, lint-rust, mypy

lint-python:
  name: Lint Python
  entry: make lint-python
  language: system

lint-rust:
  name: Lint Rust
  entry: make lint-rust
  language: system

mypy:
  name: Mypy
  entry: make mypy
  language: system

fix pyo3 0.26 compat
  src/lib.rs
Due: lint-rust

tweak ci
  .github/workflows/ci.yml
Due: none

try setting PyO3/maturin-action version explicitly
  .github/workflows/ci.yml
Due: none

try setting PyO3/maturin-action version explicitly, take 2
  .github/workflows/ci.yml
Due: none

try setting pyo3 in build-dependencies
  Cargo.lock
  Cargo.toml
Due: none

Update ``python3-dll-a`` to 0.2.14
  Cargo.lock
Due: none

revert unnecessary changes
  .github/workflows/ci.yml
  Cargo.toml
Due: none

Add support for Python 3.14 on windows builds (#352)
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  src/lib.rs
Due: lint-rust

prepare for v1.1.1 release
  Cargo.lock
  Cargo.toml
Due: none

prepare for v1.1.1 release (#353)
  Cargo.lock
  Cargo.toml
Due: none

Deploying to gh-pages from @ samuelcolvin/watchfiles@2b2327f2a007a32d736fffa4ab87d3f207053a49 🚀
  index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

add cli --extensions for python filter
  docs/cli.md
  docs/cli_help.txt
  tests/test_cli.py
  watchfiles/cli.py
Due: lint-python, mypy

Add `ready_event` parameter to `watch` and `awatch`
  watchfiles/main.py
Due: lint-python, mypy

Fix lint errors
  watchfiles/main.py
Due: lint-python, mypy

ci: add riscv64 manylinux wheels
  .github/workflows/ci.yml
Due: none

ci: add riscv64 manylinux wheels (#359)
  .github/workflows/ci.yml
Due: none

Update uv.lock file
  uv.lock
Due: none

Fixes the target-version value in ruff config
  pyproject.toml
  tests/conftest.py
  watchfiles/cli.py
  watchfiles/filters.py
  watchfiles/main.py
  watchfiles/run.py
Due: lint-python, mypy

Fix the target-version value in ruff config
  pyproject.toml
  tests/conftest.py
  watchfiles/cli.py
  watchfiles/filters.py
  watchfiles/main.py
  watchfiles/run.py
Due: lint-python, mypy

Drop Python 3.9 support (EOL)
  .github/workflows/ci.yml
  README.md
  docs/index.md
  pyproject.toml
  uv.lock
Due: none

Apply lint fixes
  watchfiles/cli.py
  watchfiles/filters.py
  watchfiles/main.py
  watchfiles/run.py
Due: lint-python, mypy

fix: improve type safety and error handling
  src/lib.rs
Due: lint-rust

fix: respect false-like env flags
  tests/test_force_polling.py
  tests/test_rust_notify.py
  watchfiles/main.py
Due: lint-python, mypy

fix: widen awatch stop_event type to AbstractEvent (#357)
  watchfiles/main.py
Due: lint-python, mypy

Add Python 3.15-dev to CI workflow
  .github/workflows/ci.yml
Due: none

Use uv 3.15 version tag
  .github/workflows/ci.yml
Due: none

uprev pyo3 to v0.28.3
  Cargo.lock
  Cargo.toml
Due: none

drop 3.9
  .github/workflows/ci.yml
Due: none

incrase msrv from 1.77 to 1.83
  .github/workflows/ci.yml
  Cargo.toml
Due: none

fix linting
  src/lib.rs
Due: lint-rust

drop support for pypy 3.10, update comments
  .github/workflows/ci.yml
  README.md
  docs/index.md
  pyproject.toml
Due: none

fix linting (#370)
  src/lib.rs
Due: lint-rust

ci: drop Python 3.15 from Windows wheel builds
  .github/workflows/ci.yml
Due: none

set requires-python = ">=3.10" and update uv.lock
  pyproject.toml
  uv.lock
Due: none

Add Python 3.15-dev build, drop 3.9, increase MVRV to 1.83 (#369)
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  README.md
  docs/index.md
  pyproject.toml
  uv.lock
Due: none

prep 1.2.0
  Cargo.lock
  Cargo.toml
Due: none

fix: improve type safety and error handling (#365)
  src/lib.rs
Due: lint-rust

upgrade uv lock
  uv.lock
Due: none

constrain mypy version
  pyproject.toml
  uv.lock
Due: none

Path conditions:
  lint-python: any of: \.py$
  lint-rust: any of: \.rs$
  mypy: any of: \.py$
